/* App.css */

.App {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #438b60;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
    